/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
body {
    font-family: "Lucida Console", Monaco, monospace; 
    /*color: #f2ede3;*/
    /*background: #333;*/
    font-size: 0.9em;
    font-weight: 300;
}

.split {
    height: 50%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-y: hidden;
    padding-left: 20px;
}

.questions-t{
	height: 15%;
}

.questions-b{
	height:85%;
	background-color: yellow;
	padding-top: 0.9em
}

.top {
    top: 0;
    background-color: blue;
    color: white;
    font-size: 2.0em;
    text-transform: uppercase;
}

.bottom {
    bottom: 0;
    background-color: white;
    color: orange;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*icon stuff*/
.centered img {
    width: 150px;
    height:150px;
    border-radius: 50% 50% 50% 50%;
}

.btn {
    background-color: white;
    border: none;
    color: orange;
    padding: 12px 16px;
    font-size: 60px;
    cursor: pointer;
	margin: 0 30px;
	font-family: "Lucida Console", Monaco, monospace;
}

/* Darker background on mouse-over */
.btn:hover {
    /*background-color: blue;*/
    color:blue;
}

.copy-right {
	background:none;
	padding:0.5em 0;

	position: absolute;
	bottom: 0; 
	text-align: center;
}

.copy-right p,.copy-right p a  {
	color: blue;
	font-size: 0.8em;
	text-align: center;

	text-transform: uppercase;
	font-weight: 400;
}

.copy-right p a:hover {
	text-decoration: underline;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
   /* color: #FFF;*/
} 

p{
	margin:0;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

ul{
	margin:0;
	padding:0;
}

.bl-icon {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	font-size: 0.3em;
}

.bl-icon:before {
	display: block;
	font-size: 2em;
	margin-bottom: 10px;
}


}
